.oporerongso{
    background-color:rgb(150, 86, 86); margin: auto; padding: 0;
}
h1{
    color: rgb(19, 30, 187); padding: 10px; text-align: center; font-size: 15px;
}
p{
    color: rgb(189, 172, 141); font-size: 14px;
}